@import url(fonts/helvetica.css);
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-image: url(../img/bg.jpg);
  background-position: center top;
  font-size: 15px;
  font-family: 'HelveticaNeueCyr-Light', Arial;
  overflow-x: hidden; }

@media (max-width: 1359px) {
  body {
    overflow-x: scroll !important; } }
strong, b {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.clr20 {
  clear: both;
  margin-bottom: 20px; }

.btn.big {
  padding: 10px 20px;
  font-size: 16px; }

.btn.medium {
  padding: 7px 17px;
  font-size: 14px; }

.btn.order {
  display: block;
  height: 100%;
  padding: 10px;
  background-color: #e53012;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  border-bottom: 3px solid #720700;
  -moz-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75); }

.btn.order:hover {
  background-color: #ca290e; }

.wrapper {
  display: table;
  width: 1360px;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  -moz-box-shadow: 0 0 59px rgba(4, 5, 5, 0.3);
  -webkit-box-shadow: 0 0 59px rgba(4, 5, 5, 0.3);
  box-shadow: 0 0 59px rgba(4, 5, 5, 0.3); }

.content {
  display: table-row;
  height: 100%; }

.content-padding {
  padding: 0 40px; }

.content-padding.inside {
  padding: 40px; }

.column-left {
  float: left;
  width: 230px; }

.column-right {
  float: right;
  width: 79%; }

.footer {
  height: 135px;
  background: #242a37;
  padding: 27px 40px;
  color: #FFF; }

.foot-menu {
  float: left; }

.foot-menu ul {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 80px; }

.foot-menu ul li {
  list-style: none;
  padding: 3px 0; }

.foot-menu ul li a {
  color: #FFF;
  text-decoration: underline; }

.foot-menu ul li a:hover, .foot-menu ul li a:focus {
  text-decoration: none; }

.footer .contacts, .footer .contacts .left, .footer .contacts .right {
  float: left; }

.footer .contacts {
  margin-left: 100px; }

.footer .contacts .left {
  margin-right: 40px; }

.footer .contacts .right {
  padding-left: 41px;
  border-left: 1px solid #444444; }

.footer .contacts .right .phone {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.footer .contacts .left .town a {
  text-decoration: underline;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  color: #FFF; }

.footer .contacts .left .town a:hover {
  text-decoration: none; }

.footer .contacts .btn {
  margin-top: 5px;
  background-color: #3a445b; }

.footer .copyright {
  float: right;
  width: 350px;
  font-size: 12px;
  margin-top: 10px; }

img {
  max-width: 100%;
  height: auto; }

a, input, textarea, .products .item, .shares .item {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

a {
  color: #000; }

a:hover, a:focus {
  color: #e53012; }

.btn {
  border-radius: 0px;
  padding: 2px 12px; }

input {
  border-radius: 0px !important; }

.btn.black {
  background-color: #1d1d1b;
  color: #FFF;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.btn.black:hover, .btn.black:focus {
  background-color: #e53012; }

.form-control {
  height: 40px;
  font-size: 16px; }

label {
  font-weight: normal; }

/*custom*/
.header {
  padding: 20px 40px 25px 40px; }

.header-inside {
  background-image: url(../img/header_inside_shadow.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 35px;
  margin-bottom: -35px; }

.header .logo {
  float: left;
  width: 208px;
  height: 71px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat; }

.header .logo a {
  display: block;
  height: 100%;
  text-indent: -9999px; }

.header .contacts .left, .header .contacts .right {
  float: left; }

.header .contacts {
  margin-left: 230px;
  padding-bottom: 0px; }

.header .contacts .left {
  margin-right: 40px; }

.header .contacts .right {
  padding-left: 41px;
  border-left: 1px solid #dedede; }

.header .contacts .right .phone {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.header .contacts .left .town a {
  text-decoration: underline;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.header .contacts .left .town a:hover {
  text-decoration: none; }

.header .search {
  float: right;
  width: 520px; }

.header .search.open .search-box {
  position: absolute;
  display: block !important;
  width: 100px;
  height: 100px; }

.header .search .form {
  float: right;
  margin-top: 20px; }

.header .search .search-input {
  width: 240px;
  float: left; }

.header .search .search-input input {
  border: 1px solid #CDCDCD;
  -moz-box-shadow: inset 0 5px 5px rgba(4, 5, 5, 0.19);
  -webkit-box-shadow: inset 0 5px 5px rgba(4, 5, 5, 0.19);
  box-shadow: inset 0 5px 5px rgba(4, 5, 5, 0.19);
  line-height: 21px; }

.header .search .search-btn {
  float: left;
  margin-left: -1px; }

.header .search .search-btn .btn {
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  font-size: 16px;
  height: 40px;
  padding: 3px 20px; }

.header .search .search-label {
  float: left;
  width: 180px;
  margin-top: 25px; }

.header .search .search-label i {
  margin-left: 5px; }

.header .search .search-label i:before {
  font-size: 12px; }

.header .search .search-label a {
  text-decoration: underline; }

.header .search .search-label a:hover, .header .search .search-label a:focus {
  text-decoration: none; }

/*---fixed header---*/
.header .btn-block-fixed {
  display: none; }

.header.fixed .btn-block-fixed {
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 13px; }

.header.fixed .btn-block-fixed .btn {
  margin: 0 10px; }

.wrapper.fixed {
  margin-top: 118px; }

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 300;
  background-color: #FFF;
  -moz-box-shadow: 0 0 59px rgba(4, 5, 5, 0.3);
  -webkit-box-shadow: 0 0 59px rgba(4, 5, 5, 0.3);
  box-shadow: 0 0 59px rgba(4, 5, 5, 0.3);
  width: 1360px;
  padding: 20px 40px 20px 40px; }

.header.fixed .search-label, .header.fixed .contacts .btn {
  /*display:none;*/ }

.header.fixed .logo {
  width: 148px;
  height: 51px;
  background-image: url(../img/logo_small.png); }

.header.fixed .search {
  width: 340px; }

.header.fixed .search .form {
  margin-top: 5px; }

.header.fixed .contacts {
  margin-left: 170px;
  margin-top: 3px; }

.top-menu {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e53012; }

.top-menu ul {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%; }

.top-menu ul li {
  float: left;
  list-style: none;
  position: relative;
  right: 50%; }

.top-menu li a {
  display: block;
  padding: 9px 22px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  font-size: 16px;
  color: #FFF;
  background: #e53012 url(../img/top_menu_li.jpg) repeat-y right center; }

.top-menu li a:hover, .top-menu li a:focus, .top-menu li.current a, .top-menu li.current a:hover, .top-menu li.current a:focus {
  background: #d5171e url(../img/top_menu_li.jpg) repeat-y right center;
  color: #FFF;
  text-decoration: none; }

.top-menu li:last-child a {
  background-image: none; }

/*slider*/
.slider-wrapper {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 10px; }

.nivo-caption .title {
  font-size: 33px;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  line-height: 125%;
  margin-bottom: 20px; }

.nivo-caption .price {
  font-size: 41px;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  line-height: 125%;
  margin-bottom: 20px; }

.nivo-caption .btn.big {
  float: left; }

.nivo-caption table td, .nivo-caption table tr, .nivo-caption table {
  padding: 0;
  border: 0; }

/*Dropdown menu*/
.dropmenu {
  width: 100%;
  margin-top: 20px; }

.dropmenu ul {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0; }

.dropmenu ul li {
  display: inline-block;
  list-style: none;
  margin: 0 30px; }

.dropmenu li a {
  display: block;
  padding: 9px 0;
  font-family: 'HelveticaNeueCyr-Light', Arial;
  font-size: 25px;
  color: #1d1d1b;
  text-decoration: underline; }

.dropmenu i:before {
  float: left;
  margin-left: 0px;
  font-size: 35px;
  color: #1d1d1b;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-top: -7px;
  margin-right: 10px;
  text-decoration: none; }

.dropmenu li:hover i:before {
  color: #e53012; }

.dropmenu li a:hover, .dropmenu li:hover a, .dropmenu li a.active {
  color: #e53012;
  text-decoration: none; }

/*dropdown menu*/
.dropmenu li .dropdown-wrap {
  display: none; }

.dropmenu li:hover .dropdown-wrap {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 0; }

.dropdown-wrap {
  border-top: 5px solid #e53012;
  text-align: left;
  padding: 30px 40px;
  background-color: #FFF;
  -moz-box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5);
  -webkit-box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5);
  box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5); }

.dropdown-wrap .column-inside {
  margin-left: -5%;
  margin-right: -5%; }

.dropdown-wrap .column {
  float: left;
  width: 33.33%;
  border-right: 1px solid #CCC;
  padding-left: 5%;
  padding-right: 5%; }

.dropdown-wrap .column.last {
  border: 0; }

.dropdown-wrap ul {
  margin: 0;
  padding: 0;
  text-align: left; }

.dropdown-wrap ul ul {
  margin: 0;
  margin-top: 10px; }

.dropdown-wrap ul li {
  list-style: none;
  padding: 5px 0;
  margin: 0; }

.dropdown-wrap ul a {
  font-size: 17px;
  color: #000 !important;
  padding: 0;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.dropdown-wrap ul ul a {
  color: #797979 !important;
  font-size: 15px;
  font-family: 'HelveticaNeueCyr-Light', Arial; }

.dropdown-wrap ul ul a:hover, .dropdown-wrap ul ul a:focus, .dropdown-wrap ul a:hover, .dropdown-wrap ul a:focus {
  color: #e53012 !important; }

/*Products*/
.products {
  position: relative;
  z-index: 2; }

.products.col4 {
  margin-left: -1.5%;
  margin-right: -1.5%;
  margin-bottom: -2.5%; }

.products.col4 .item {
  float: left;
  width: 22%;
  height: 390px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 30px; }

.products.col4 .item .padding {
  padding: 20px;
  height: 390px; }

.products.col5 {
  margin-left: -1.5%;
  margin-right: -1.5%;
  margin-bottom: -2%; }

.products.col5 .item {
  float: left;
  width: 17%;
  height: 382px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2%; }

.products.col5 .item .padding {
  padding: 20px;
  height: 382px; }

.products .item {
  background-color: #FFF;
  border: 1px solid #DFDFDF;
  color: #898989;
  float: left; }

.products .item:hover {
  color: #1d1d1b;
  background-color: #FFF;
  border: 1px solid #FFF;
  -moz-box-shadow: 0 13px 33px 4px #B2B2B2;
  -webkit-box-shadow: 0 13px 33px 4px #B2B2B2;
  box-shadow: 0 13px 33px 4px #B2B2B2; }

.products .item .title {
  margin: 15px 0; }

.products .item .title a {
  color: #898989;
  text-decoration: none; }

.products .item:hover .title a {
  color: #1d1d1b; }

.products .item .price {
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  font-size: 20px;
  margin-bottom: 15px; }

.products .item .availability, .products .item .action {
  float: left;
  font-size: 13px; }

.products .item .availability {
  background-color: #b2b2b2;
  color: #FFF;
  padding: 2px 10px; }

.products .item .availability.order {
  background-color: #FFF;
  border: 1px solid #cfcfcf;
  color: #a7a7a7;
  padding: 1px 10px; }

.products .item .action {
  background-color: #e53012;
  color: #FFF;
  padding: 2px 10px;
  margin-left: -1px; }

.products .item .action i:before {
  font-size: 12px;
  margin-right: 5px; }

.products .item .action i {
  float: left; }

.products .item .buttoms {
  background-color: #000;
  text-align: center; }

.products .item .buttoms .comparison a {
  display: block;
  background-color: #eaeaea;
  text-decoration: none;
  font-size: 14px; }

.products .item .buttoms .order a {
  display: block;
  height: 100%;
  padding: 10px;
  background-color: #e53012;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  border-bottom: 3px solid #720700;
  -moz-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75); }

.products .item .buttoms .order a:hover {
  background-color: #ca290e; }

.products .item .buttoms .order i:before {
  font-size: 18px;
  margin-right: 8px; }

.products .item .buttoms .comparison a:hover {
  background-color: #e2e2e2; }

.products .item .buttoms .comparison i:before {
  font-size: 16px;
  margin-right: 5px; }

.products .item .buttoms {
  display: none;
  z-index: 10;
  opacity: 0;
  text-align: center; }

.products .item:hover .buttoms {
  opacity: 1;
  display: block;
  position: relative;
  z-index: 3;
  margin: -1px; }

.products .item .buttoms a {
  padding: 7px 0; }

/*header block*/
.header-block {
  margin-bottom: 25px;
  margin-top: 40px; }

.header-block-title {
  float: left;
  font-size: 23px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  margin-right: 20px; }

.header-block-link {
  float: left;
  font-size: 14px;
  margin-top: 7px; }

.header-block-link a {
  text-decoration: underline; }

.header-block-link a:hover, .header-block-link a:focus {
  text-decoration: none; }

/*news-block*/
.news-block {
  float: left;
  width: 38.2%; }

.news-block .header-block {
  margin-top: 40px; }

.news-block .news {
  border: 1px solid #dfdfdf;
  padding: 15px 30px; }

.news-block .news .item {
  padding: 10px 0;
  border: 0;
  margin: 0; }

.news-block .news .item .date {
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  font-size: 13px; }

.news-block .news .item .title {
  font-size: 16px;
  margin: 5px 0; }

.news-block .news .item .title a:hover, .news-block .news .item .title a:focus {
  text-decoration: none; }

.news-block .news .item .description {
  font-size: 14px;
  color: #a3a3a3; }

/*shares-block*/
.shares-block {
  float: right;
  width: 58.8%; }

.shares-block .header-block {
  margin-top: 40px; }

.shares-block .shares {
  margin: 20px 0; }

.shares-block .shares {
  margin-left: -1.5%;
  margin-right: -1.5%;
  margin-bottom: -3%; }

.shares .item {
  float: left;
  width: 30.33%;
  background-color: #FFF;
  border: 1px solid #DFDFDF;
  color: #898989;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 3%; }

.shares .item:hover {
  border-color: #e53012; }

.shares .item .image {
  margin: -1px;
  margin-bottom: 0; }

.shares .item .image img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.shares .item .image {
  display: block;
  position: relative;
  overflow: hidden;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer; }

.shares .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.shares .item .image .over_block {
  background-color: rgba(0, 160, 150, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.shares .item:hover .over_block {
  display: block;
  background-color: rgba(0, 0, 0, 0.7); }

.shares .item .image .description {
  opacity: 0;
  width: 100%;
  height: 0px;
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  z-index: 3;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.shares .item .image .description {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: #FFF;
  padding: 20px;
  font-size: 14px; }

.shares .item:hover .description {
  opacity: 1; }

.shares .item .title {
  padding: 12px 20px;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.shares .item .title a {
  color: #646464; }

.shares .item .title a:hover, .shares .item .title a:focus, .shares .item:hover a {
  color: #e53012;
  text-decoration: none; }

/*info-block*/
.info-block {
  background-color: #2a3141;
  padding: 55px 40px;
  color: #FFF;
  margin: 50px -40px;
  margin-top: 30px;
  background-image: url(../img/info_block_bg.png);
  background-repeat: no-repeat;
  background-position: 35% bottom; }

/*TABS Info block*/
.info-block .tabs__caption {
  list-style: none;
  display: block;
  float: left;
  width: 270px;
  margin-left: 50px;
  margin-top: 20px; }

.info-block .tabs__caption li {
  float: left;
  cursor: pointer;
  position: relative;
  font-size: 23px;
  margin: 20px 0;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  line-height: 125%; }

.info-block .tabs__caption li .icon {
  width: 88px;
  height: 88px;
  border: 1px solid #FFF;
  float: left;
  margin-top: -18px;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center; }

.info-block .tabs__caption li i:before {
  float: left;
  margin-left: 0px;
  font-size: 45px;
  width: 88px;
  text-align: center;
  line-height: 83px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.info-block .tabs__caption .active i:before {
  color: #2a3141; }

.info-block .tabs__caption li.active .icon {
  background-color: #FFF; }

.info-block .tabs__content {
  display: none;
  float: right;
  width: 750px;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  font-size: 16px;
  line-height: 185%; }

.info-block .tabs__content .tab-title {
  font-size: 37px;
  margin-bottom: 20px; }

.info-block .tabs__content.active {
  display: block; }

/*gallery-block*/
.gallery-block {
  margin-bottom: 20px;
  margin-left: -1.5%;
  margin-right: -1.5%; }

.gallery-block .item {
  float: left;
  width: 17%;
  height: 328px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 2%;
  border: 1px solid #DFDFDF;
  background-color: #FFF;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.gallery-block.col4 .item {
  float: left;
  width: 22%;
  height: 328px;
  margin-bottom: 30px; }

.gallery-block .item .image {
  margin: -1px;
  margin-bottom: 0; }

.gallery-block .item .title {
  padding: 20px; }

.gallery-block .item a {
  color: #898989; }

.gallery-block .item a:hover, .gallery-block .item a:focus {
  text-decoration: none; }

.gallery-block .item:hover a {
  color: #000; }

.gallery-block .item:hover {
  background-color: #FFF;
  border: 1px solid #FFF;
  -moz-box-shadow: 0 13px 33px 4px #B2B2B2;
  -webkit-box-shadow: 0 13px 33px 4px #B2B2B2;
  box-shadow: 0 13px 33px 4px #B2B2B2; }

.gallery-block .item.link {
  border-color: #e53012;
  height: 328px; }

.gallery-block .item.link a {
  padding: 30px;
  padding-top: 120px;
  display: block;
  height: 100%;
  font-size: 33px;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  line-height: 125%;
  color: #e53012; }

.gallery-block .item.link:hover a {
  color: #000; }

.gallery-block .item.link:hover {
  -moz-box-shadow: 0 0 0 0 #B2B2B2;
  -webkit-box-shadow: 0 0 0 0 #B2B2B2;
  box-shadow: 0 0 0 0 #B2B2B2;
  border-color: #000; }

/*popup style*/
.popup {
  padding: 20px; }

.popup .title {
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  font-size: 22px;
  margin-bottom: 15px; }

.popup .form label {
  font-size: 16px;
  margin-top: 10px; }

.popup .form .btn {
  margin-top: 20px;
  padding: 7px 19px; }

.popup .form textarea {
  min-height: 90px; }

.popup .form .item-name {
  font-size: 21px;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.popup .form .item-info {
  float: left;
  margin-right: 40px; }

.popup .form .item-info .price {
  font-size: 32px;
  color: #e53012;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.popup .form .item-info .art {
  color: #727272; }

.popup .form .item-info .art span {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.popup .form .item-info.number {
  width: 190px;
  margin-top: 15px; }

.popup .form .item-info.number .number-label {
  float: left;
  width: 90px;
  text-align: right; }

.popup .form .item-info.number .number {
  float: right;
  width: 80px; }

.popup .form .item-info.number .number input {
  text-align: center;
  font-size: 24px;
  color: #e53012;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.popup .form .columns {
  margin-left: -15px;
  margin-right: -15px; }

.popup .form .column3 {
  float: left;
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 1366px) {
  .theme-default a.nivo-nextNav {
    right: 0px; }

  .theme-default a.nivo-prevNav {
    left: 0px; }

  .wrapper {
    width: 1348px; } }
/*bootstrap custom*/
.btn-danger {
  color: #fff;
  background-color: #e53012;
  border-color: #e53012; }

.form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

/*load more btn*/
.loadmore {
  text-align: center; }

.loadmore a {
  display: block;
  height: 100%;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  background-color: #eeeeee;
  border: 1px solid #dfdfdf; }

.loadmore i:before {
  font-size: 19px;
  margin-right: 10px; }

/*page header name*/
.page-header-name {
  margin-bottom: 20px;
  float: left;
  max-width: 60%; }

.page-header-name.full {
  max-width: 100%;
  float: none; }

.page-header-name h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  line-height: 145%; }

/*breadcrumb*/
.breadcrumb {
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 30px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  color: #a9a9a9;
  border-bottom: 1px solid #dfdfdf; }

/*sorting*/
.sorting {
  float: right;
  color: #a9a9a9;
  margin-top: 5px; }

.sorting .jq-selectbox__select-text {
  color: #000; }

.sorting .jq-selectbox__select-text:hover {
  color: #e53012; }

.sorting .jq-selectbox {
  width: 140px; }

/*module block*/
.module-block {
  margin-bottom: 40px; }

.module-block .title {
  font-size: 23px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  line-height: 145%;
  margin-bottom: 10px; }

/*vertical menu*/
.vertical-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }

.vertical-menu li {
  list-style: none;
  margin-bottom: 10px; }

.vertical-menu li a {
  display: block;
  height: 100%;
  padding: 7px 15px;
  border: 1px solid #dfdfdf;
  border-left: 5px solid #dfdfdf;
  font-size: 17px; }

.vertical-menu li.drop a:before {
  font-family: "Flaticon";
  content: "\e001";
  font-size: 12px;
  margin-left: 10px;
  float: right;
  margin-top: 4px; }

.vertical-menu li a:hover, .vertical-menu li:hover a, .vertical-menu li a.active {
  border-color: #e53012;
  color: #e53012;
  text-decoration: none; }

/*dropdown menu*/
.vertical-menu li .dropdown-wrap {
  display: none; }

.vertical-menu li:hover .dropdown-wrap {
  display: block;
  position: absolute;
  width: 1360px;
  z-index: 200;
  left: -40px;
  margin-top: -1px; }

.dropdown-wrap {
  border-top: 5px solid #e53012;
  text-align: left;
  padding: 30px 40px;
  background-color: #FFF;
  -moz-box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5);
  -webkit-box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5);
  box-shadow: 0 8px 15px rgba(42, 49, 65, 0.5); }

.dropdown-wrap li {
  list-style: none;
  margin: 0 !important; }

.dropdown-wrap li a {
  display: block;
  height: 100%;
  padding: 0;
  border: 0;
  font-size: 17px; }

.dropdown-wrap li a:before {
  display: none; }

.dropdown-wrap li a:hover, .dropdown-wrap li a:focus {
  border-color: #e53012;
  color: #e53012;
  text-decoration: none; }

/*filter block*/
.module-block .filter {
  padding: 20px;
  border: 1px solid #dfdfdf; }

.module-block .filter label {
  display: block;
  font-size: 14px;
  cursor: pointer; }

.jq-radio {
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-right: 5px; }

.jq-radio.checked .jq-radio__div {
  width: 8px;
  height: 8px;
  background: #E53012; }

.module-block .apply-btn {
  margin: -21px;
  margin-top: 0px; }

.module-block .apply-btn input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #e53012;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  border-bottom: 3px solid #720700;
  -moz-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  border: 0; }

.trashlink {
  width: 100%;
  text-align: center;
  padding: 15px; }

.trashlink a {
  text-decoration: underline; }

.trashlink a:hover, .trashlink a:focus {
  text-decoration: none; }

.trashlink i:before {
  font-size: 15px;
  margin-right: 5px; }

/*spoiler*/
.spoiler-head, .spoiler-head-closed {
  font-size: 15px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px; }

.spoiler-head.folded:before, .spoiler-head-closed.unfolded:before {
  font-family: "Flaticon";
  content: "\e00a";
  float: right; }

.spoiler-head.unfolded:before, .spoiler-head-closed.folded:before {
  font-family: "Flaticon";
  content: "\e000";
  float: right; }

/*price scale*/
.price-scale {
  margin-bottom: 50px; }

.price-scale .title {
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

/*scroll to top*/
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 300;
  width: 50px;
  height: 50px;
  background-color: #e53012;
  cursor: pointer;
  display: none;
  opacity: 0.3; }

#scroll-to-top:hover {
  opacity: 1; }

#scroll-to-top:before {
  font-family: "Flaticon";
  content: "\e00c";
  margin-right: 10px;
  margin-top: 3px;
  float: right;
  color: #FFF;
  font-size: 30px; }

/*page content*/
.page-content {
  display: block; }

/*banner block*/
.banner-block {
  border: 1px solid #dfdfdf;
  text-align: center;
  padding: 14px;
  margin-bottom: 20px; }

/*news*/
.news .item {
  border: 1px solid #dfdfdf;
  padding: 25px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 30px; }

.news .item .left {
  float: left;
  width: 180px; }

.news .item .right {
  float: right;
  width: 740px; }

.news .item .right .date {
  font-size: 14px;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.news .item .right .title {
  font-size: 22px;
  margin: 10px 0; }

.news .item .right .description {
  margin-bottom: 20px; }

.news .item:hover {
  border-color: #e53012; }

.news .item:hover a {
  color: #e53012; }

.news .item:hover a.btn {
  color: #FFF;
  background-color: #e53012; }

/*manufacturers*/
.manufacturers .item {
  border: 1px solid #dfdfdf;
  padding: 25px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 30px; }

.manufacturers .item .left {
  float: left;
  width: 180px; }

.manufacturers .item .right {
  float: right;
  width: 740px; }

.manufacturers .item .right .title {
  font-size: 28px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  margin-bottom: 10px;
  margin-top: -3px; }

.manufacturers .item .right .description {
  margin-bottom: 20px; }

.manufacturers .item:hover {
  border-color: #e53012; }

.manufacturers .item:hover a {
  color: #e53012; }

.manufacturers .item:hover a.btn {
  color: #FFF;
  background-color: #e53012; }

/*contact page*/
.contact-page {
  border: 1px solid #dfdfdf;
  padding: 25px;
  margin-bottom: 30px; }

.contact-page .left {
  float: left;
  width: 40%;
  padding-right: 5%; }

.contact-page .right {
  float: right;
  width: 60%;
  border-left: 1px solid #dfdfdf;
  padding-left: 5%; }

.contact-page .contacts {
  border-left: 1px solid #dfdfdf;
  padding-left: 20px;
  margin-left: 30px;
  font-size: 17px; }

.contact-page .contacts div {
  padding: 8px 0; }

.contact-page .contacts i {
  position: absolute;
  margin-left: -50px;
  margin-top: 2px;
  color: #e53012; }

.contact-page .contact-form .title {
  font-size: 21px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  margin-bottom: 20px; }

.contact-page .contact-form .cont-column {
  width: 100%;
  font-size: 17px; }

.contact-page .contact-form .cont-column-left {
  float: left;
  width: 50%;
  padding-right: 5%; }

.contact-page .contact-form .cont-column-right {
  float: right;
  width: 50%;
  padding-left: 5%; }

.contact-page .contact-form .cont-column-full {
  width: 100%; }

.contact-page .contact-form textarea {
  min-height: 90px; }

.contact-page .contact-form .cont-column-left, .contact-page .contact-form .cont-column-right, .contact-page .contact-form .cont-column-full {
  margin-bottom: 15px; }

.place-map {
  border: 1px solid #dfdfdf;
  padding: 15px; }

/*gallery item*/
.gallery-item {
  border: 1px solid #dfdfdf;
  padding: 25px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 30px; }

.gallery-item .left {
  float: left;
  width: 350px; }

.gallery-item .right {
  float: right;
  width: 570px; }

.gallery-item .right .title {
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  margin-bottom: 10px; }

/*comparison*/
.products.col4.comparison .item {
  margin-top: 35px; }

.comparison .item.info {
  border-color: #e53012;
  padding: 30px; }

.comparison .item.info .text {
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Thin', Arial;
  color: #e53012;
  padding-top: 80px; }

.comparison .item.info:hover {
  box-shadow: 0 0 0 #FFF; }

.comparison .item.info .delete-list {
  margin-top: 40px; }

.comparison .item.info .delete-list a {
  text-decoration: none;
  color: #e53012;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.comparison .item.info .delete-list a:hover, .comparison .item.info .delete-list a:focus {
  color: #000; }

.comparison .delete-from-comparison {
  text-align: center;
  font-size: 15px;
  position: absolute;
  width: 22%;
  margin-top: -35px; }

.comparison .delete-from-comparison a {
  text-decoration: underline; }

.comparison .delete-from-comparison a:hover, .comparison .delete-from-comparison a:focus {
  text-decoration: none; }

.comparison .delete-from-comparison i:before {
  font-size: 15px;
  color: #000;
  margin-right: 5px; }

.comparison-params.item {
  float: left;
  width: 25%; }

.comparison-params.item.title {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.comparison-params.item .list {
  padding: 8px 25px;
  font-size: 14px; }

.comparison-params.item.col2 .list {
  padding: 8px 30px; }

.comparison-params.item.col3 .list {
  padding: 8px 40px; }

.comparison-params.item.col4 .list {
  padding: 8px 50px; }

.comparison-params.item .list.bg {
  background-color: #f2f2f2; }

/*table style*/
table {
  width: 100%;
  max-width: 100% !important;
  border-collapse: collapse;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  margin-bottom: 20px;
  font-size: 14px; }

table td {
  padding: 7px 15px;
  border-right: 1px solid #e4e4e4; }

table th {
  padding: 8px 5px;
  font-size: 18px;
  color: #1f1f1f;
  text-align: left;
  border-right: 1px solid #e4e4e4;
  font-family: 'Puritan20Normal';
  font-weight: normal; }

table tr {
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

/*product page*/
.product-page {
  border: 1px solid #dfdfdf;
  padding: 25px;
  margin-bottom: 30px; }

.product-page .left {
  float: left;
  width: 490px;
  padding-right: 5%; }

.product-page .right {
  float: right;
  width: 460px;
  padding-top: 20px; }

.product-page .product-main-image {
  border: 1px solid #dfdfdf;
  padding: 10px; }

.product-page .art {
  color: #727272;
  float: left; }

.product-page .labels {
  float: right; }

.product-page .art span {
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.product-page .availability, .product-page .action {
  float: left;
  font-size: 13px; }

.product-page .availability {
  background-color: #b2b2b2;
  color: #FFF;
  padding: 2px 10px; }

.product-page .availability.order {
  background-color: #FFF;
  border: 1px solid #cfcfcf;
  color: #a7a7a7;
  padding: 1px 10px; }

.product-page .action {
  background-color: #e53012;
  color: #FFF;
  padding: 2px 10px;
  margin-left: -1px; }

.product-page .action i:before {
  font-size: 12px;
  margin-right: 5px; }

.product-page .action i {
  float: left; }

.product-page .price {
  float: left; }

.product-page .price .now {
  font-size: 32px;
  color: #e53012;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  padding-top: 5px; }

.product-page .price .old span {
  text-decoration: line-through;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.product-page .buttons {
  text-align: center;
  float: right;
  width: 220px; }

.product-page .buttons .order a {
  display: block;
  height: 100%;
  padding: 10px;
  background-color: #e53012;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: 'HelveticaNeueCyr-Bold', Arial;
  border-bottom: 3px solid #720700;
  -moz-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75);
  box-shadow: 0 5px 5px rgba(229, 48, 18, 0.75); }

.product-page .buttons .order a:hover {
  background-color: #ca290e; }

.product-page .buttons .order i:before {
  font-size: 18px;
  margin-right: 13px; }

.product-page .buttons .comparison {
  margin-top: 10px; }

.product-page .buttons .comparison a, .product-page .buttons .comparison a:hover, .product-page .buttons .comparison a:focus {
  text-decoration: none; }

.product-page .buttons .comparison i:before {
  font-size: 16px;
  margin-right: 5px; }

.print a {
  display: inline-block;
  height: 100%;
  padding: 8px 20px;
  text-decoration: none;
  background-color: #ececec;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.print a:hover {
  background-color: #f1f1f1; }

.print i {
  margin-right: 7px; }

/*TABS product page*/
.product-page .tabs__caption {
  list-style: none;
  display: block; }

.product-page .tabs__caption li {
  float: left;
  cursor: pointer;
  position: relative;
  background-color: #ececec;
  padding: 10px 15px;
  margin-right: 10px;
  font-family: 'HelveticaNeueCyr-Bold', Arial; }

.product-page .tabs__caption li.active {
  background-color: #e53012;
  color: #FFF; }

.product-page .tabs__content {
  display: none;
  padding: 0px 15px;
  margin-top: 20px; }

.product-page .tabs__content.active {
  display: block; }

.product-page .list_info_object li {
  display: table;
  width: 100%;
  line-height: 35px; }

.product-page .list_info_object li span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  white-space: nowrap;
  zoom: 1;
  position: relative; }

.product-page .list_info_object li span:first-child {
  padding-right: 5px;
  top: 8px; }

.product-page .list_info_object li .dotted_kist {
  border-bottom: 1px dotted #BDBDBD;
  display: table-cell;
  width: 100%;
  zoom: 1; }

.product-page .list_info_object li span.gray_span {
  padding-left: 5px;
  top: 8px;
  width: 120px; }

.product-page .scroller {
  margin: 20px 0;
  width: 100%; }

.product-page .scroller .title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px; }

.product-page .scroller #images-scroll {
  padding-left: 20px;
  padding-right: 20px; }

.product-page .scroller #images-scroll .item {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: 1px solid #e3e3e3;
  padding: 5px;
  margin: 0 auto;
  width: 90px; }

.product-page .scroller #images-scroll .item:hover {
  border-color: #e53012; }

.product-page .scroller #images-scroll .item:hover img {
  opacity: 0.8; }

.product-page .scroller .images-scroll-navi a {
  color: #b2b2b2;
  font-size: 32px; }

.product-page .scroller .images-scroll-navi a:hover, .product-page .scroller .images-scroll-navi a:focus {
  color: #e53012; }

.product-page .scroller .images-scroll-navi .prev {
  float: left;
  margin-left: -10px;
  margin-top: -68px; }

.product-page .scroller .images-scroll-navi .next {
  float: right;
  margin-right: -10px;
  margin-top: -68px; }

/*print page*/
.printer {
  background: none; }

.printer .wrapper {
  width: 100%;
  -moz-box-shadow: 0 0 0 rgba(4, 5, 5, 0.3);
  -webkit-box-shadow: 0 0 0 rgba(4, 5, 5, 0.3);
  box-shadow: 0 0 0 rgba(4, 5, 5, 0.3); }

.printer .header-wrapper {
  width: 1000px;
  margin: 0 auto; }

.printer .column-right {
  width: 100%; }

.printer .content-padding {
  padding: 0;
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px; }

.printer .contact-page .right {
  border: 0;
  padding: 0; }

.printer .header .contacts {
  margin-top: 15px; }

.printer .header .print {
  float: right;
  margin-top: 20px; }

.printer .product-page .right {
  width: 450px; }

.printer .product-page .tabs__content {
  padding: 0; }

.printer .product-page .list_info_object li {
  line-height: 31px; }

/*scroller arrows*/
.header-block-arrows {
  font-size: 34px;
  float: left;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: 10px; }

.header-block-arrows a {
  margin-right: 10px; }

.header-block-arrows a {
  color: #b2b2b2;
  cursor: pointer; }

.header-block-arrows a:hover {
  color: #e53012; }

/*# sourceMappingURL=style.css.map */
