    /*
    Flaticon icon font: Flaticon
    Creation date: 16/05/2019 15:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-zoom-in:before { content: "\f100"; }
.flaticon-home:before { content: "\f101"; }
.flaticon-photo-camera:before { content: "\f102"; }
.flaticon-users:before { content: "\f103"; }
.flaticon-shopping-cart:before { content: "\f104"; }
.flaticon-sort-down:before { content: "\f105"; }
.flaticon-delete:before { content: "\f106"; }
.flaticon-refresh-button:before { content: "\f107"; }
.flaticon-pencil:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-add:before { content: "\f10a"; }
    
    $font-Flaticon-zoom-in: "\f100";
    $font-Flaticon-home: "\f101";
    $font-Flaticon-photo-camera: "\f102";
    $font-Flaticon-users: "\f103";
    $font-Flaticon-shopping-cart: "\f104";
    $font-Flaticon-sort-down: "\f105";
    $font-Flaticon-delete: "\f106";
    $font-Flaticon-refresh-button: "\f107";
    $font-Flaticon-pencil: "\f108";
    $font-Flaticon-right-arrow: "\f109";
    $font-Flaticon-add: "\f10a";