.filter_wrap .jumbotron
{
    z-index: 4;
}

.filter_btn .button:before {
    font-size: 22px;
    position: relative;
    left: -10px;
}

.filter_btn .button:not(.btn-add) {
    line-height: 37px;
    /* width: 164px; */
    border: 0;
    font-family: 'Gilroy-Medium';
    font-size: 17px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
    outline: none;
    padding: 13px 28px;
}

.button {
    transition: 0.2s;
    display: inline-block;
}

.button:hover{
    text-decoration: none;
}