@font-face {
 font-family: 'HelveticaNeueCyr-Bold';
 src: url('helveticaneuecyr-bold.eot');
 src: url('helveticaneuecyr-bold.eot') format('embedded-opentype'),  url('helveticaneuecyr-bold.woff') format('woff'),  url('helveticaneuecyr-bold.ttf') format('truetype'),  url('helveticaneuecyr-bold.svg#HelveticaNeueCyr-Bold') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'HelveticaNeueCyr-Light';
 src: url('helveticaneuecyr-light.eot');
 src: url('helveticaneuecyr-light.eot') format('embedded-opentype'),  url('helveticaneuecyr-light.woff') format('woff'),  url('helveticaneuecyr-light.ttf') format('truetype'),  url('helveticaneuecyr-light.svg#HelveticaNeueCyr-Light') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'HelveticaNeueCyr-Roman';
 src: url('helveticaneuecyr-roman.eot');
 src: url('helveticaneuecyr-roman.eot') format('embedded-opentype'),  url('helveticaneuecyr-roman.woff') format('woff'),  url('helveticaneuecyr-roman.ttf') format('truetype'),  url('helveticaneuecyr-roman.svg#HelveticaNeueCyr-Roman') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'HelveticaNeueCyr-Thin';
 src: url('helveticaneuecyr-thin.eot');
 src: url('helveticaneuecyr-thin.eot') format('embedded-opentype'),  url('helveticaneuecyr-thin.woff') format('woff'),  url('helveticaneuecyr-thin.ttf') format('truetype'),  url('helveticaneuecyr-thin.svg#HelveticaNeueCyr-Thin') format('svg');
 font-weight: normal;
 font-style: normal;
}
