div.form-control
{
  line-height: 27px;
}
.form-control{
  .jq-selectbox__dropdown
  {
    margin-left: -12px;
    margin-top: 6px;
  }
}

.jq-selectbox
{
  select{
    pointer-events: none;
  }
}

.wrapper_brickformat.content {
  display: block;
}