.theme-default #slider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
	min-height:321px;
	z-index:1;
}
.theme-default #slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default #slider a {
	border:0;
	display:block;
}
.theme-default .nivo-controlNav {
	text-align: center;
	position:relative;
	z-index:10;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
	-webkit-transition-duration: 0s;
	-o-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	background-position:0 -22px;
}
.theme-default .nivo-controlNav a.active { background-position:0 0; }
.theme-default .nivo-directionNav a {
	display:block;
	width:49px;
	height:49px;
	background:url(slider_arrows.jpg) no-repeat;
	text-indent:-9999px;
	border:0;
	-webkit-transition-duration: 0s;
	-o-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-49px 0;
	right:-49px;
}
.theme-default a.nivo-nextNav:hover { background-position:-49px -49px; }
.theme-default a.nivo-prevNav { left:-49px; }
.theme-default a.nivo-prevNav:hover { background-position:0 -49px; }
.theme-default .nivo-controlNav.nivo-thumbs-enabled { width: 100%; }
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
