@font-face {
    font-family: 'Gilroy-Regular';
    src: url('font/gilroy/Gilroy-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('font/gilroy/Gilroy-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('font/gilroy/Gilroy-Bold.ttf') format('truetype')
}

button {
    transition: 0.2s;
}

/* bootrstrap additional */
.col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}

.col-5-th {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 768px) {
    .col-sm-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media only screen and (max-width: 992px) {
    .col-md-5th {
        width: 33%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33%;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }

    .col-md-5th.col-sm-5th {
        width: 20%;
        float: left;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media only screen and (max-width: 769px) {
    .col-md-5th {
        width: 100%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-5th.col-sm-5th {
        width: 50%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .col-md-5th {
        width: 50%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-5th.col-sm-5th {
        width: 100%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* END OF */
header {
    background-color: white;
    z-index: 2;
    border-top: 10px solid #d5231b;
}

.header_fixed .col-md-3 {
    padding: 0;
}

.header_fixed .photo-checked span {
}

.div-1480 {
    max-width: 1558px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

footer .div-1480 {
    padding: 0;
}

.div-1520 {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.header nav {
    background-color: white;
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-left-right-padding {
    padding: 0;
    align-items: baseline;
}

.logo {
    /* max-width: 310px; */
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    align-items: center;
    padding: 47px 40px;
    padding-right: 0px;
}

footer .logo {
    padding: 75px 0px;
    padding-left: 38px;
}

header .div-1480 .navbar-nav li a {
    font-family: 'Gilroy-Medium';
    min-width: 115px;
    color: black !important;
    padding-bottom: 13px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    transition: 0.2s;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

header .div-1480 .navbar-nav li a span {
    text-align: center;
    display: block;
    font-size: 18px;
}

header .div-1480 .navbar-nav li a i {
    display: block;
    margin: auto;
    margin-top: 29px;
    text-align: center;
}

.checked_photo_wrap {
    display: flex;
    flex-grow: 1;

    padding-left: 0;
    padding: 47px 40px;
}

.div-1480 .navbar-nav li a i:before {
    font-size: 34px;
}

.div-1480 .navbar-nav li a.active, .div-1480 .navbar-nav li a.active:hover {
    color: white !important;
    background-color: #d5231b !important;
}

.div-1480 .navbar-nav li a:hover {
    color: #d5231b !important;
    background-color: #f9f9f9;
}

.div-1480 .navbar-nav li {
    /* margin-right: 38.6px; */
    /* margin-right: 9% !important; */
}

.div-1480 .navbar-nav li:nth-child(2) a {
}

.navbar-brand img {
    max-width: 264px;
    height: 64px;
    width: 100%;
}

.div-1480 .navbar-nav li a .hoverimg {
    display: none;
}

.jumbotron {
    padding: 45px 25px;
    margin-bottom: 0;
    background-color: #f4f4f4;
    position: relative;
    z-index: 3;
    padding-bottom: 20px;
}

.nice-select {
    width: 100%;
    font-size: 17px;
    font-family: 'Gilroy-Medium';
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
    background-color: #f8f8f8;
}

.nice-select.disabled:after {
    border: 5px solid transparent;
    border-top: 5px solid;
    content: '';
    display: block;
    height: 5px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform-origin: inherit;
    -ms-transform-origin: inherit;
    transform-origin: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select:active, .nice-select.open, .nice-select:focus, .nice-select.active {
    border-color: #d5221b;
    color: #d5221b;
}

.filter_wrap .col-md-5th {
    margin-bottom: 25px;
}

.nice-select:after {
    border: 5px solid transparent;
    border-top: 5px solid;
    content: '';
    display: block;
    height: 5px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform-origin: inherit;
    -ms-transform-origin: inherit;
    transform-origin: inherit;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-top: -7px;
}

.nice-select.open .list {
    width: 100%;
    color: black;
}

.filter_btn {
    text-align: center;
    position: relative;
    min-height: 64px;
    clear: both;
    z-index: 4;
}

.filter_btn button:not(.btn-add) {
    line-height: 37px;
    /* width: 164px; */
    border: 0;
    font-family: 'Gilroy-Medium';
    font-size: 17px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    cursor: pointer;
    outline: none;
    padding: 13px 28px;
}

.filter_btn .flaticon-delete {
    background-color: #f9f9f9;
    color: #d5221b;
}

.filter_btn .flaticon-refresh-button {
    background-color: #d5221b;
    color: white;
}

.filter_btn button:before {
    font-size: 22px;
    position: relative;
    left: -10px;
}

.filter_btn .flaticon-delete:before {
    font-size: 22px;
    position: relative;
    left: -10px;
}

.sort-wrapper .byobject {
    padding: 9px 23px;
    margin-right: 16px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #d5231b;
    background-color: white;
    color: #d5231b;
    outline: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.sort-wrapper .byphoto {
    padding: 9px 23px;
    margin-right: 16px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #d5231b;
    background-color: white;
    color: #d5231b;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.sort-wrapper .bymap {
    padding: 9px 23px;
    margin-right: 16px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #d5231b;
    background-color: white;
    color: #d5231b;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.sort-wrapper button:hover, .sort-wrapper button.active {
    border: 1px solid #d5231b;
    background-color: #d5231b;
    color: #ffffff;
}

.sort-wrapper span {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
}

.sort-wrapper {
    margin: auto;
    text-align: left;
    padding: 0px 15px;
}

.sort {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
}

.photo-container {
    padding: 15px 30px;
}

.obj-photo-wrap:hover {
    border: 1px solid #d5221b;
}

.obj-photo-wrap {
    padding: 10px;
    border: 1px solid transparent;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    transition: 0.2s;
    margin-bottom: 30px;
}

.image-wrap {
    /* height: 264px; */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
}

.image-wrap a {
    margin: auto;
    text-decoration: none !important;
    transition: all 0.2s linear;
    display: block;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.obj-photo-wrap:hover .image-wrap .overlay {
    opacity: 1;
}

.image-wrap .flaticon-zoom-in:before {
    font-size: 36px;
}

/* checkbox custom */
.container-check {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    max-width: 104px;
    float: right;
    font-size: 17px;
    font-family: 'Gilroy-Medium';
    margin-top: 13px;
    color: #d5221b;
    margin-top: 24px;
}

.images .container-check {
    margin: auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    /* position: absolute; */
    display: block;
    float: left;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid #cfcfcd;
    transition: 0.2s;
    margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #f4f4f4;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #d5221b;
    border: 1px solid #d5221b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ENDOF CHECKBOX*/
.description-poles {
    text-align: center;
    font-size: 14px;
    clear: both;
}

.description-poles span {
    font-family: 'Gilroy-Medium';
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.description-poles b {
    font-family: 'Gilroy-Bold';
}

.clearfix {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.paginator {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #f4f4f4;
}

.paginator ul {
    padding: 0;
    margin: 0;
}

.paginator li {
    display: inline-block;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    margin: 0px 8px;
    width: 42px;
    text-align: center;
    color: #d5231b;
    height: 42px;
    line-height: 42px;
    border: 1px solid #d5231b;
    border-radius: 42px;
    transition: 0.2s;
    cursor: pointer;
}

.paginator li:after {
    content: '';
    display: block;
    border: 0.5px solid red;
    position: relative;
    top: -22px;
    left: 41px;
    width: 21px;
}

.paginator li:hover, .paginator li.active {
    color: white;
    background-color: #d5231b;
}

.paginator ul li a {
    color: inherit;
    text-decoration: none !important;
    display: block;
    width: 40px;
}

.paginator ul li:last-child:after {
    display: none;
}

footer {
    border-top: 10px solid #d5231b;
    background-color: black;
}

footer nav {
    padding-top: 0 !important;
}

.photo-checked {
    opacity: 0;
    transition: 0.2s;
}

.photo-checked.active {
    display: block;
    opacity: 1;
    text-align: right;
}

.photo-checked span {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    padding-left: 4px;
    display: block;
}

.header_fixed .photo-checked span {
    text-align: right;
}

.photo-checked i {
    background-color: red;
    font-size: 12px;
    font-family: 'Gilroy-Medium';
    font-style: normal;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: relative;
    top: -2px;
    left: 0px;
    border-radius: 20px;
}

.photo-checked .button,
.photo-checked button {
    margin-top: 11px;
    float: right;
    font-family: 'Gilroy-Medium';
    padding: 4px 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #d5231b;
    color: white;
    border: 0;
    cursor: pointer;
    outline: none;
}

.no-padding {
    padding: 0;
}

.photo-checked span:before {
    font-size: 23px;
    position: relative;
    left: -18px;
    top: 1px;
}

.overlay {
    position: absolute;
    background-color: #d5221b;
    height: 84px;
    color: white;
    width: 84px;
    line-height: 87px;
    border-radius: 84px;
    margin: auto;
    left: 50%;
    top: 50%;
    margin-top: -42px;
    margin-left: -42px;
    opacity: 0;
}

.image-wrap img {
    width: 100%;
    height: auto;
}

.copy {
    line-height: 26px;
    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
    padding: 0px 15px;
    flex-grow: 1;
    align-items: center;
}

.copy p {
    margin: 0;
}

footer .navbar-brand img {
    width: 110%;
}

footer .navbar-collapse {
    justify-content: flex-end;
    flex-grow: 1;
    max-width: fit-content;
}

footer .navbar-collapse ul {
}

footer .navbar-collapse li {
    /* margin-right: 14% !important; */
}

footer .navbar-nav li a {
    color: white !important;
    font-family: 'Gilroy-Medium';
    min-width: 115px;
    padding-bottom: 23px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    transition: 0.2s;
}

footer .div-1480 .navbar-nav li a span {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-top: 4px;
}

footer .div-1480 .navbar-nav li a i {
    display: block;
    margin: auto;
    margin-top: 39px;
    text-align: center;
}

.header_fixed {
    display: block;
    position: fixed;
    top: 0px;
    min-height: 100px;
    background-color: white;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 50px 2px;
    -webkit-box-shadow: 0px 0px 50px 2px;
    -moz-box-shadow: 0px 0px 50px 2px;
}

.header_fixed .div-1480 {
    padding: 0px 40px;
}

.header_fixed.hidden {
    display: none;
}

.header_fixed img {
    width: 156px;
    margin-top: 11px;
}

.header_fixed .photo-checked {
    margin-top: 10px;
}

.navbar-dark .navbar-toggler {
    cursor: pointer;
    padding: 8px;
}

.showfilter {
    background-color: #d5221b;
    padding: 11.5px 22.5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 0;
    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    top: 8px;
    position: relative;
    left: 32px;
    cursor: pointer;
    outline: none !important;
}

.header_fixed .filter_wrap {
    position: fixed;
    left: 0;
    right: 0;
    display: none;
}

.header_fixed .jumbotron {
    border-radius: 0;
    box-shadow: 0px 38px 86px -54px;
}

/* GALLERY CSS */
main .inner_menu {
    background-color: #ebebeb;
    width: 100%;
    max-height: 60px;
}

main .inner_menu ul {
    padding: 0;
    margin: auto;
    text-align: center;
}

main .inner_menu ul li {
    display: inline-block;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
}

main .inner_menu ul li a {
    color: black;
    text-decoration: none !important;
    padding: 16.5px 32px;
    display: block;
    transition: 0.2s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

main .inner_menu ul li a:hover, main .inner_menu ul li a.active {
    background-color: #d5231b;
    color: white;
}

.gallery_jumbo h1 {
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Gilroy-Medium';
    font-size: 60px;
    color: #d5231b;
    margin-top: 13px;
    padding-bottom: 50px;
}

.filter_btn .btn-add {
    text-align: center;
    line-height: 37px;
    width: 106px;
    height: 106px;
    border: 0;
    font-family: 'Gilroy-Medium';
    font-size: 17px;
    border-radius: 106px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    padding: 11px 0;
    border: 12px solid #f7d3d1;
    position: relative;
    top: -52px;
    background-color: #d5231b;
    color: white;
}

.filter_btn .btn-add:before {
    position: static;
    display: block;
}
.filter_btn .btn-add:before {
    position: static;
    display: block;
    transition: 0.5s;
}
.filter_btn .btn-add:hover{
    background-color: #000000;
    border-color:#d5231b;
}

.filter_btn .btn-add:hover:before {
    -moz-transform: rotate(360deg);
    /* Ð”Ð»Ñ Firefox */
    -ms-transform: rotate(360deg);
    /* Ð”Ð»Ñ IE */
    -webkit-transform: rotate(360deg);
    /* Ð”Ð»Ñ Safari, Chrome, iOS */
    -o-transform: rotate(360deg);
    /* Ð”Ð»Ñ Opera */
    transform: rotate(360deg);
}

.object_ctr {
    margin: auto;
    max-width: 918px;
    margin-bottom: -7px;
}

.object_ctr .col-md-3 {
    float: left;
    max-width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
}

.gallery_cont {
    max-width: 1086px;
    margin: auto;
}

.gallery_cont .container-check {
    display: none;
}

.error_message {
    margin: auto;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    text-align: center;
    background-color: #fff3f2;
    padding: 22px;
    border-bottom: 4px solid red;
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    max-width: 972px;
}

.error_message a {
    color: #d5231b;
}

.obj-edit:before {
    font-size: 13px;
    position: relative;
    left: -10px;
}

.obj-edit {
    font-size: 13px;
    background-color: #d5231b;
    margin: auto;
    display: block;
    max-width: 150px;
    font-family: 'Gilroy-Medium';
    color: white;
    text-align: center;
    position: relative;
    top: -15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 6px;
    padding-left: 17px;
    transition: 0.2s;
    text-decoration: none;
}

.obj-edit:hover {
    text-decoration: none;
    color: white;
}

.object_ctr .description-poles {
    margin-top: 6px;
}

.obj-props-form {
    max-width: 1091px;
    margin: auto;
    margin-top: 51px;
    padding: 0px 15px;
}

#objectprops {
    overflow: hidden;
}

#objectprops .col-md-6 {
    float: left;
    padding: 0px 20px;
}

.parameters .title {
    font-family: 'Gilroy-Bold';
    font-size: 30px;
    display: block;
    padding-top: 30px;
    color: #d5231b;
}

#objectprops .parameters {
    position: relative;
    clear: both;
}

#objectprops .col-md-6:first-child .parameters {
    padding-left: 23px;
}

.parameters.colored {
    background-color: #fff3f2;
    padding: 0px 44px !important;
    max-width: 468px;
    min-height: 472px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#objectprops .parameters label {
    font-size: 21px;
    font-family: 'Gilroy-Medium';
    margin-top: 17px;
    display: block;
    text-align: left;
}

#objectprops .parameters .nice-select {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.parameters.colored .nice-select {
    background-color: white !important;
}

.year {
    max-width: 216px;
}

#objectprops .container-check {
    font-size: 17px !important;
    color: black;
    margin-top: 22px !important;
    margin-right: 10px;
}

.margin-lower {
    padding-top: 18px !important;
}

/* INPUT STYLES */
.input-file-container {
    position: relative;
    width: auto;
    margin-bottom: 21px;
}

.js .input-file-trigger {
    padding: 0px;
    background: #d5231b;
    color: #fff;
    font-size: 17px !important;
    transition: all .4s;
    cursor: pointer;
    max-width: 133px;
    text-align: center !important;
    padding: 12.5px 26px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: absolute;
    right: 0;
    bottom: -8px;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 366px;
    opacity: 0;
    padding: 10px 0;
    cursor: pointer;
}

.js .input-file:hover + .input-file-trigger, .js .input-file:focus + .input-file-trigger, .js .input-file-trigger:hover, .js .input-file-trigger:focus {
    background: #000000;
    color: #ffffff;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    margin: 1em 0;
}

.js .file-return {
    font-size: 17px;
    background-color: #f4f4f4;
    font-family: 'Gilroy-Medium';
    padding: 12.5px;
    padding-left: 26px;
    border-radius: 6px 0 0 6px;
}

.addmorefile {
    padding: 12px;
    display: block;
    font-family: 'Gilroy-Bold';
    padding-left: 56px;
    font-size: 18px;
    color: #d5231b;
    cursor: pointer;
    margin-top: -7px;
}

.addmorefile:before {
    content: "\f10a";
    font-family: Flaticon;
    display: block;
    position: absolute;
    left: 26px;
    color: white;
    background-color: #d5231b;
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 38px;
    margin-top: -5px;
    padding: 5px;
}

.delthis {
    color: #d5231b;
    position: absolute;
    left: -20px;
    margin-top: 8px;
    cursor: pointer;
}

.delthis:before {
    font-size: 23px;
}

#bricks {
    max-width: 1056px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 54px;
}

#bricks .brick_wrap:not(:first-child) {
    border-top: 1px solid #f7c9c7;
}

.brick_wrap {
    padding: 25px;
    background-color: #fff3f2;
    padding-bottom: 38px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 4px solid #d5231b;
    margin-top: -6px;
}

.brick_wrap p {
    display: block;
    font-family: 'Gilroy-Bold';
    font-size: 30px;
    margin-left: 14px;
    margin-top: 5px;
    color: #d5231b;
}

.brick_wrap p span {
}

.brick_wrap label {
    font-size: 21px;
    font-family: 'Gilroy-Medium';
    margin-top: 1px;
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brick_wrap .nice-select {
    margin-top: 9px;
    height: 52px;
    line-height: 52px;
    width: 100%;
}

.brick_wrap .col-md-3 {
    padding: 0px 18px;
}

.brick_wrap .row {
    margin: auto;
    padding: 0;
}

.brick_wrap input {
    width: 100%;
    padding: 12px 18px;
    margin-top: 9px;
    font-family: 'Gilroy-Medium';
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: black;
    font-size: 18px;
    border: 0;
    outline: 0;
}

#bricks .addmorefile {
    margin-top: 28px;
    padding-left: 95px;
}

#bricks .addmorefile:before {
    left: 42px;
}

#bricks .delthis {
    right: 42px;
    text-align: right;
    margin-top: 32px;
}

@media (max-width: 1666px) {
    .copy p br {
        display: none;
    }
}

@media (max-width: 1480px) {
    .div-1480 .navbar-nav li:nth-child(2) a {
    }

    .copy {
        box-sizing: content-box;
        max-width: 37%;
    }
}

@media (max-width: 1366px) {
    .nice-select .current {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .header_fixed .div-1480 {
        /* padding: 0px 20px; */
    }
}

@media (max-width: 1200px) {
    .copy p {
        font-size: 14px;
        line-height: 23px;
    }

    .copy {
        max-width: 32%;
        padding: 0px 15px;
        padding-right: 30px;
    }
}

@media (max-width: 1180px) {
    .copy p {
        font-size: 13px;
    }
}

@media (max-width: 1100px) {
    .header_fixed .photo-checked span {
        padding-left: 0;
    }

    #bricks .addmorefile {
        padding-left: 79px;
    }

    #bricks .addmorefile:before {
        left: 26px;
    }

    .error_message {
        margin-left: 5px;
        margin-right: 5px;
    }

    #bricks {
        margin-left: 35px;
        margin-right: 35px;
    }

    .copy {
        max-width: 28%;
        padding: 0px 15px;
        padding-right: 30px;
    }

    footer .navbar-brand img {
        margin-top: 0;
        align-items: baseline;
    }
}

@media (max-width: 1024px) {
    .error_message {
        width: 100%;
    }

    footer .logo {
        padding: 0;
    }

    footer .navbar-dark .navbar-toggler {
        display: none;
    }

    .nice-select span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

    .object_ctr .overlay {
        width: 75px;
        height: 75px;
        line-height: 75px;
    }

    .image-wrap .flaticon-zoom-in:before {
        font-size: 32px;
    }

    header .col-md-3.no-padding {
        max-width: 20%;
    }

    .photo-checked .button,
    .photo-checked button {
        /* font-size: 15px; */
    }

    .photo-checked span {
    }

    .copy {
        max-width: 100%;
        font-size: 15px;
        text-align: right;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*footer .navbar-expand-md .navbar-collapse{
        display: none !important;
    }*/.div-1480 .navbar-nav li {
    margin-right: 0 !important;
}

    .navbar-brand img {
    }

    .copy {
        line-height: 14px;
        font-size: 13px;
        text-align: left;
        max-width: 100%;
    }

    footer .navbar-collapse {
        max-width: 341px;
        padding-left: 0;
    }

    footer .div-1480 .navbar-nav li a span, header .div-1480 .navbar-nav li a span {
    }

    header .col-md-3.no-padding {
        max-width: fit-content;
    }

    header .navbar-expand-md .navbar-collapse {
        max-width: 49%;
    }

    .photo-checked span {
        padding-left: 0;
        text-align: right;
    }

    .header_fixed .photo-checked span {
        text-align: center;
    }

    .photo-checked {
        text-align: left !important;
    }

    .header_fixed .col-md-3 {
        /* padding: 0; */
    }

    .brick_wrap label {
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 1024px) {
    .photo-checked span:before {
        position: relative;
    }

    header .logo, header .checked_photo_wrap {
        padding: 0;
    }

    header .div-1480 {
        padding: 30px 40px;
    }

    .navbar-dark .navbar-toggler {
        margin-left: 20px;
    }
}

@media (max-width: 915px) {
    footer .logo {
        padding: 0;
    }

    .copy p {
        font-size: 12px;
        line-height: 20px;
    }

    .copy {
        /* max-width: 23.4%; */
        /* padding-right: 15px; */
    }
}

@media (max-width: 1024px) {
    .obj-props-form {
    }

    .photo-checked button {
    }

    .photo-checked span {
        padding-left: 0;
    }

    .navbar-dark .navbar-toggler {
        background-color: #d5231b;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        top: 14px;
        position: relative;
        max-height: 48px;
        display: block;
    }

    .navbar-expand-md .navbar-collapse {
        display: none !important;
    }

    .collapse.show {
        display: block !important;
    }

    .div-1480 .navbar-nav li {
        width: 100%;
        display: block;
        float: left;
    }

    header .div-1480 .navbar-nav li a i {
        margin-top: 0;
        display: none;
    }

    header .navbar-expand-md .navbar-collapse {
        max-width: 100%;
        z-index: 4;
        background: white;
        position: absolute;
        top: 132px;
        left: 0;
        right: 0;
        box-shadow: 0px 30px 50px -25px;
        -webkit-box-shadow: 0px 30px 50px -25px;
        -moz-box-shadow: 0px 30px 50px -25px;
    }

    .navbar-dark .nav-item {
        width: 100%;
    }

    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 886px) {
    .header_fixed .col-md-4 {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .header_fixed .col-md-4 {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header_fixed .col-md-8 {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .showfilter {
    }

    .header_fixed .photo-checked {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .header_fixed .photo-checked .button,
    .header_fixed .photo-checked button {float: none;margin: auto;display: block;margin-top: 11px;}
}

@media (max-width: 768px) {
    .header_fixed .photo-checked span {
        text-align: center;
    }

    .header_fixed .no-left-padding {
        padding-left: 0;
        float: left;
        width: 50%;
    }

    #objectprops .container-check {
        max-width: 80px;
    }

    .error_message {
        margin: 0px 20px;
    }

    #bricks {
        margin-right: 35px;
        margin-left: 35px;
    }

    .parameters.colored {
        max-width: 100%;
    }

    .obj-photo-wrap {
        padding: 15px;
    }

    .image-wrap img {
        padding: 0px;
    }

    .object_ctr .col-md-3 {
        float: left;
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
    }

    header {
        height: auto;
    }

    footer .navbar-dark .navbar-toggler {
        top: 3px;
        right: 0;
    }

    .copy {
        max-width: 53.4%;
        padding-right: 15px;
    }

    .logo {
        max-width: 33.33%;
    }

    header .navbar-expand-md .navbar-collapse {
        max-width: 47%;
    }

    .photo-checked span:before {
    }

    .photo-checked span {
        padding-left: 0;
        /* font-size: 12px; */
        display: block;
        padding-left: 12px;
    }

    .image-wrap {
        margin: auto;
        max-width: 100%;
    }

    .description-poles span {
        font-size: 14px;
    }

    .parameters .container-check {
        max-width: 80px;
    }

    .parameters .checkmark {
        left: 30px;
    }

    .brick_wrap label {
    }

    footer .navbar-nav li a {
        min-width: 100px;
    }

    footer .navbar-collapse {
        max-width: 306px;
        padding-left: 0;
    }

    .photo-checked button {
        /* padding: 4px; */
        /* font-size: 14px; */
    }
}

@media (max-width: 736px) {
    footer .navbar-brand img {
        margin: auto;
        display: block;
        margin-top: 10px;
    }

    footer .navbar-dark .navbar-brand {
        display: block;
        width: 100%;
    }

    footer .col-md-3, footer .col-md-5 {
        max-width: 100%;
        font-size: 14px;
        line-height: 15px;
        text-align: left;
        padding: 0px 5px;
        text-align: center;
    }

    header .div-1480 .navbar-nav li a {
        border-radius: 0;
        padding: 20px;
    }

    header {
        height: auto;
    }

    header .col-md-3.no-padding {
        max-width: 35%;
    }

    header .navbar-expand-md .navbar-collapse {
        max-width: 100%;
        z-index: 4;
        background: white;
        position: absolute;
        top: 132px;
        left: 0;
        right: 0;
    }

    .div-1480 .navbar-nav {
        display: block;
    }

    header .div-1480 .navbar-nav li a i {
        margin-top: 0;
        display: none;
    }

    .div-1480 .navbar-nav li {
        width: 100%;
        display: block;
        float: left;
    }

    header .div-1480 .navbar-nav li a span {
        text-align: center;
    }

    .div-1480 .navbar-nav li:nth-child(2) a {
    }

    .photo-checked span:before {
        left: -10px;
        font-size: 20px;
    }

    .photo-checked span {
        padding-left: 0;
        /* font-size: 12px; */
        display: block;
        padding-left: 12px;
    }

    .image-wrap {
        margin: auto;
        max-width: 100%;
    }

    .description-poles span {
        font-size: 14px;
    }

    .parameters .container-check {
        max-width: 20px;
    }

    .obj-props-form .parameters .checkmark {
        left: 0px;
    }

    .brick_wrap label {
        font-size: 15px;
        font-size: 21px;
        font-family: 'Gilroy-Medium';
        margin-top: 17px;
        display: block;
        text-align: left;
    }

    footer .navbar-nav li a {
        min-width: 100px;
    }

    footer .navbar-collapse {
        max-width: 306px;
        padding-left: 0;
    }

    .photo-checked .button,
    .photo-checked button {
        /* padding: 4px; */
        /* font-size: 14px; */
        float: none;
        margin-left: auto;
        display: block;
    }

    header .div-1480 .navbar-nav li a {
        border-radius: 0;
    }

    .navbar-brand img {
        /* margin-top: 28px; */
        width: 100%;
        /* margin: auto; */
        /* display: block; */
    }

    .photo-checked {
        /* margin-top: 28px; */
    }

    .header_fixed {
        display: none;
    }

    .parameters.colored {
        max-width: 100%;
        margin-top: 20px;
    }

    .year {
        max-width: 50%;
    }

    #objectprops .parameters {
        padding: 0;
    }

    .addmorefile:before {
        left: 0;
    }

    .copy {
        max-width: 42%;
        line-height: 19px;
        font-size: 18px;
        text-align: right;
        padding: 0;
        margin-top: 28px;
    }

    footer .navbar-toggler {
        display: none;
    }

    #bricks .addmorefile {
    }

    #bricks {
    }

    .col-md-5th {
        width: 50%;
        float: none;
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 50%;
    }
}

@media (max-width: 667px) {
    .photo-checked .button,
    .photo-checked button {
        margin:auto;
        margin-top: 11px;
    }

    .logo {
        max-width: 50%;
    }

    .parameters .checkmark {
        left: 0;
    }

    .copy {
        max-width: 42%;
        line-height: 19px;
        font-size: 14px;
        text-align: right;
        padding: 0;
        margin-top: 28px;
    }

    header .col-md-3.no-padding {
        max-width: 33%;
    }

    .photo-checked {
        border-top: 1px solid #f4f4f4;
        margin-top: 30px;
        text-align: center;
        padding-top: 20px;
    }

    .photo-checked span {
        padding-left: 0px;
        text-align: center;
    }

    .checked_photo_wrap {
        padding-top: 30px;
    }
}

@media (max-width: 568px) {
}

@media (max-width: 568px) {
    header .col-md-3.no-padding {
        display: none;
    }

    footer {
        height: auto;
    }

    .copy {
        max-width: 35%;
        line-height: 19px;
        font-size: 13px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .filter_btn span {
        display: none;
    }

    .filter_btn button:before {
        left: 0;
    }

    .filter_btn .flaticon-delete:before {
        left: 0;
    }

    .photo-checked {
        margin-top: 0px;
    }

    .error_message {
        margin-left: 15px;
        margin-right: 15px;
    }

    .div-1480 .navbar-nav li {
        width: 100%;
        display: block;
    }

    .gallery_jumbo h1 {
        font-size: 40px;
    }

    main .inner_menu {
        max-height: 100%;
    }

    main .inner_menu ul li {
        display: block;
    }

    .col-md-5th {
        width: 100%;
        max-width: 100%;
    }

    .navbar-brand img {
        margin-top: 28px;
        margin: auto;
        display: block;
    }

    .navbar-dark .navbar-brand {
        color: #fff;
        max-width: 100%;
        display: block;
        padding: 0;
    }

    header .col-md-3.no-padding {
        display: none;
    }

    .logo {
        padding: inherit;
    }

    .copy {
        max-width: 100%;
        line-height: 19px;
        font-size: 13px;
        text-align: justify;
        padding: 0;
        margin-top: 28px;
    }

    footer {
        height: auto;
    }

    .image-wrap .filter_btn button {
        position: relative !important;
        width: auto !important;
        padding: 10px 30px !important;
        margin: auto !important;
        padding-left: 38px !important;
    }

    .image-wrap .filter_btn button:before {
        left: -114px;
        transition: 0.2s;
    }

    .sort-wrapper {
        text-align: center;
    }

    .object_ctr .col-md-3 {
        max-width: 100%;
    }

    .object_ctr .overlay {
        top: 35%;
    }

    .filter_btn button:not(.btn-add) {
    }

    .filter_btn .flaticon-refresh-button {
        background-color: #d5221b;
        color: white;
        display: inline-block;
    }

    header .div-1480 .navbar-nav li a span {
        font-size: 17px;
    }

    .brick_wrap label {
        clear: both;
        font-size: 18px;
        margin: 10px;
        margin-bottom: 5px;
    }

    .checked_photo_wrap {
        margin-top: 20px;
    }

    header .div-1480 {
        padding-top: 15px;
    }

    .navbar-dark .navbar-toggler {
        top: 7px;
    }

    header .navbar-expand-md .navbar-collapse {
        top: 90px;
    }

    .sort {
        margin-top: 35px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (width: 480px) {
}

@media (max-width: 320px) {
    .photo-checked {
        margin-top: 0px;
    }

    #objectprops .parameters label {
        font-size: 18px;
        clear: both;
    }

    .filter_btn button:not(.btn-add) {
        width: 60px;
        padding: 10px;
    }

    .filter_btn button:not(.btn-add) span {
        display: none;
    }

    .filter_btn .flaticon-delete:before, .filter_btn button:before {
        position: static;
    }

    .filter_btn .flaticon-refresh-button {
    }

    .sort-wrapper {
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }

    .sort-wrapper button {
        width: 100%;
        margin: 10px 0px !important;
    }
}

@media screen and (max-width: 1300px) {
    .photo-container .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 1050px) {
    .photo-container .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33%;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media screen and (max-width: 850px) {
    .photo-container .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .photo-container {
        padding: 30px 15px;
    }

    .photo-container .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sort-wrapper span {
        display: none;
    }

    #objectprops .col-md-6:first-child .parameters {
        padding-left: 0;
    }

    #objectprops .col-md-6:first-child .parameters .addmorefile:before {
        left: 0;
    }

    #bricks .addmorefile:before {
        left: 0px;
    }

    #bricks .addmorefile {
        padding-left: 56px;
    }

    #objectprops .col-md-6:first-child .parameters .addmorefile {
    }

    .year {
        max-width: 50%;
    }

    .gallery_jumbo h1 {
        font-size: 45px;
    }

    .gallery_cont {
        padding-top: 0
    }
}

@media screen and (max-width: 500px) {
    .photo-container .col-md-5th {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sort-wrapper {
        margin: auto;
        text-align: left;
        padding: 0px 20px;
        width: 100%;
    }

    .sort-wrapper button {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}
