.object_ctr {
  width: 100%; }

.filter_btn .btn-add.a_button_block {
  display: inline-block;
  line-height: 58px; }
  .filter_btn .btn-add.a_button_block:hover {
    text-decoration: none; }

.photo-checked.active.photocartnumhidden {
  display: none; }

.form_reg input.text {
  width: 100%;
  padding: 12px 18px;
  margin-top: 9px;
  font-family: 'Gilroy-Medium';
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: black;
  font-size: 18px;
  outline: 0;
  background: #f4f4f4;
  border: solid 1px #e8e8e8; }
  .form_reg input.text:hover {
    border-color: #dbdbdb; }
  .form_reg input.text:active, .form_reg input.text.open, .form_reg input.text:focus, .form_reg input.text.active {
    border-color: #d5221b;
    color: #d5221b; }
.form_reg .button {
  padding: 9px 23px;
  margin-right: 16px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #d5231b;
  background-color: white;
  color: #d5231b;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .form_reg .button:hover, .form_reg .button.active {
    border: 1px solid #d5231b;
    background-color: #d5231b;
    color: #ffffff; }

.nice-select.open .list {
  max-height: 250px;
  overflow: auto; }

.hidden {
  display: none; }

.fancybox-caption .container-check {
  float: inherit;
  display: inline-block;
  color: #fff; }

.checked_photo_frame,
.checked_photo_text {
  display: flex;
  flex-direction: column;
  Justify-content: space-between;
  flex-grow: 1; }

.checked_photo_text {
  color: #d5231b; }

.checked_photo_user {
  color: #d5231b;
  text-align: right; }

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url("img/35.gif") no-repeat center rgba(128, 128, 128, 0.44);
  z-index: 1000;
  display: none; }
  .loader.show {
    display: block; }

form .filter_wrap .jumbotron {
  z-index: 6; }

.mobail_frame {
  display: flex;
  flex-grow: 1;
  padding-left: 0; }
  .mobail_frame .mobail_frame_name {
    display: flex;
    flex-direction: column;
    Justify-content: space-evenly;
    flex-grow: 1;
    color: #d5231b; }
  .mobail_frame .mobail_frame_cart {
    display: flex;
    flex-direction: column;
    Justify-content: space-evenly;
    flex-grow: 1; }

.top_line {
  position: relative;
  overflow: hidden;
  background: #d5231b;
  color: #fff;
  padding: 10px 15px 10px; }
  @media (max-width: 425px) {
    .top_line span {
      display: none; } }
  @media (min-width: 426px) and (max-width: 767px) {
    .top_line span {
      display: none; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .top_line span {
      display: none; } }
  .top_line .left {
    float: left; }
  .top_line .right {
    float: right; }

header {
  border-top: 0px; }

/*# sourceMappingURL=template_styles.css.map */
