@font-face {
 font-family: "Flaticon";
 src: url("flaticon.eot");
 src: url("flaticon.eot#iefix") format("embedded-opentype"),  url("flaticon.woff") format("woff"),  url("flaticon.ttf") format("truetype"),  url("flaticon.svg") format("svg");
 font-weight: normal;
 font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
 font-family: Flaticon;
 font-size: 20px;
font-style: normal;
}
.flaticon-add133:before { content: "\e000"; }
.flaticon-arrow483:before { content: "\e001"; }
.flaticon-cardboard12:before { content: "\e002"; }
.flaticon-curvedarrow2:before { content: "\e003"; }
.flaticon-delete16:before { content: "\e004"; }
.flaticon-gift41:before { content: "\e005"; }
.flaticon-info34:before { content: "\e006"; }
.flaticon-justice4:before { content: "\e007"; }
.flaticon-like:before { content: "\e008"; }
.flaticon-marker20:before { content: "\e009"; }
.flaticon-minus75:before { content: "\e00a"; }
.flaticon-moving11:before { content: "\e00b"; }
.flaticon-navigate6:before { content: "\e00c"; }
.flaticon-photos13:before { content: "\e00d"; }
.flaticon-tick7:before { content: "\e00e"; }
.flaticon-verification5:before { content: "\e00f"; }
