#objectprops .photo-container .container-check {
  margin-right: auto; }

main #objectprops {
  /*overflow:auto;*/ }

#bricks .nice-select .option {
  white-space: normal; }

/*# sourceMappingURL=style.css.map */
