.jq-checkbox.checked .jq-checkbox__div {
  width: 7px;
  height: 7px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #e53012;
  box-shadow: none; }

/*# sourceMappingURL=template_styles.css.map */
